{{>header}}
<div class="players">
  <div class="player_box p1">
    <h3 id="p1_name">Player 1</h3>
    <p id="p1_walls"></p>
  </div>
  <div>
    <h3 id="timer"></h3>
    <p id="message"></p>
    {{#unless playback}}
    <a id="leave_btn" href="/game/leave" class="button">Leave</a>
    {{/unless}}
  </div>
  <div class="player_box p2">
    <h3 id="p2_name">Player 2</h3>
    <p id="p2_walls"></p>
  </div>
</div>
<div id="game_container"{{#if playback}} class="playback-mode" data-gid="{{gameId}}"{{/if}}></div>
{{>footer}}