{{>header}}
<div class="form_container">
  <h1>SignIn</h1>
  {{#if error}}
  <div class="error-box">
    <p>{{error}}</p>
  </div>
  {{/if}}
  <form id="signin_form" action="/signin" method="post">
    <label>
      <span>Username</span>
      <input type="text" id="username" name="username" placeholder="Username" value="{{username}}" />
    </label>    
    <label>
      <span>Password</span>
      <input type="password" id="password" name="password" placeholder="Password" />
    </label>
    <label class="form-action">
      <button type="submit" class="button" id="signin_btn">SignIn</button>
      <a href="/signup">don't have an account?</a>
    </label>
  </form>
</div>
{{>footer}}