doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet' href='css/style.css')
  body
    div.form_container
      h1.page_title SignIn
      form#signin_form(method='post', action='/signin')
        label
          span Username
          input#username(type='text',name='username',placeholder='Username', value= usernameValue)
        label
          span Password
          input#password(type='password',name='password',placeholder='Password')
        label
          button#signin_btn(type='submit') Signin
          a(href='/signup') don't have an account?

    script(src="js/script.js") 
