/**
 * reset browser default styles
 */
 html {
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  height:100%;
}

body {
  font-family:Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color:#050505;
  background:#fff;
  margin:0;
  font-size:14px;
  line-height:1.42857143;
}

*, ::after, ::before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary, picture, audio, canvas, progress, video{
  display:block;
}

[hidden], template{display:none;}
abbr[title]{
  border-bottom:1px dotted;
  cursor:help;
}
b, strong{font-weight:bold;}
small{font-size:80%;}
sub, sup{
  position:relative;
  font-size:70%;
  line-height:0;
  vertical-align:baseline;
}
sup{top:-.5em;}
sub{bottom:-.25em;}
svg:not(:root){overflow:hidden;}

figure{margin:0;}
pre{overflow:auto;}
code, kbd, pre, samp{
  font-family:Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono","Courier New",monospace,sans-serif;
  font-size:1em;
}

button, input, optgroup, select, textarea{
  margin:0;
  font:inherit;
  color:inherit;
}
button, select{text-transform:none;}
button, input{overflow: visible;}

button, html input[type="button"], input[type="reset"], input[type="submit"]{-webkit-appearance:button; cursor:pointer;}
button[disabled], html input[disabled]{cursor:default;}
button::-moz-focus-inner, input::-moz-focus-inner{padding:0; border:0 none;}
input{line-height:normal;}
input[type="checkbox"], input[type="radio"]{vertical-align:middle;  }
input[type="radio"][disabled], input[type="checkbox"][disabled], fieldset[disabled] input[type="radio"], fieldset[disabled] input[type="checkbox"]{cursor:not-allowed;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]{-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
fieldset{
  padding:.35em .625em .75em;
  margin:0 2px;
  border:1px solid #c0c0c0;
}
legend{padding:0; border:0 none;}
textarea{overflow:auto; resize:vertical;}
optgroup{font-weight:bold;}
progress{vertical-align: baseline;}

table{
  border-spacing:0;
  border-collapse:collapse;
}
thead{
  display:table-header-group;
  vertical-align:middle;
}
tbody{
  display:table-row-group;
  vertical-align:middle;
}
td, th{
  vertical-align:middle;
  padding:0;
}

audio, canvas, iframe, img, svg, video{vertical-align:middle;}

ul, ol{
  margin-top:0;
  margin-bottom:10px;
}
ul ul, ol ul, ul ol, ol ol{margin-bottom:0;}
dl{margin-top:0; margin-bottom:10px;}
dt, dd{line-height:1.42857143;}
dt{font-weight:bold;margin:0 0 .1em 0;}
dd{margin-left:0;margin-bottom:5px;}

hr{
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  display:block;
  height:1px;
  border:0 none;
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:0;
}
img{
  border:0 none;
  max-width:100% !important;
  display:block;
}

h1{font-size:2.20em;}
h2{font-size:2.00em;}
h3{font-size:1.60em;}
h4{font-size:1.25em;}
h5{font-size:1.14em;}
h6{font-size:1.09em;}
h1, h2, h3, h4, h5, h6{
  line-height:1.35;
  margin: 0 0 0.45em;
}
p{
  font-size:1em;
  margin: 0 0 0.30em;
}
::-moz-selection{background:#b3d4fc;}
::selection{background:#b3d4fc;}
a{
  background:transparent;
}
a:hover, a:active, a:focus{
  outline:0 none;
}
a:hover{text-decoration:underline;}





body{
  height:100%;
  -ms-overflow-y:scroll;
  overflow-y:scroll;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;

}

main{
  overflow:hidden;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding:0 2%;
}

header{
  padding:10px 2%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-direction:row;
  -ms-flex-direction:row;
  flex-direction:row;
}
.header-links{
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction:row-reverse;
  -ms-flex-direction:row-reverse;
  flex-direction:row-reverse;
}
.header-links a{
  display:inline-block;
  margin-right:8px;
}
.header-links a:first-child{
  margin-right:0;
}

footer{
  padding:5px 2%;
}

.logo{
  display:inline-block;
  font-size:24px;
  font-weight:bold;
  text-decoration:none;
  outline:0 none;
  color:#174ea6;
}
.logo:hover{
  text-decoration:none;
}

/**
 * Project Css code
 */

/*# Signin Page  */
.form_container, .button_container{
  width:80%;
  max-width:450px;
  padding:24px;
  margin:10px auto;
}
.form_container label{
  display:block;
  margin-bottom:10px;
}
label > span{
  display:block;
  font-size:1em;
  color: #3c4043;
}
.form_container .form_error{
  font-size:14px;
  color:red;
}
label > input, label > select{
  display:block;
  width:100%;
  padding:10px 24px;
  border:1px solid #aaa;
  color: #3c4043;
}
label > input:focus, label > select:focus{
  outline:0 none;
}

input.err{
  border-color:red;
}
.error-box p{
  color:red;
}

label.form-action{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
  -webkit-flex-direction:row;
  -ms-flex-direction:row;
  flex-direction:row;
}




.game-box{
  display:inline-block;
  margin:5px;
  padding:10px;
  border:1px solid #aaa;
}



#game_container svg{
  display:block;
  margin: 0 auto;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
svg rect{
  pointer-events: all;
}

svg circle#p1{
  fill:blue;
}

svg circle#p2{
  fill:red;
}

svg rect.wall{
  fill:none;
}
svg rect.wall.active{
  fill:#000;
}
svg rect.wall.hov, svg rect.square.hov{
  fill:rgba(0,0,0,.3);
}



.players{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 20px;
}
.player_box{
  padding:10px;
  border:2px solid transparent;
}
#p1_name{
  color:blue;
}
#p2_name{
  color:red;
}
.player_box.active{
  border:2px dashed #eee;
}
.player_box.active.current{
  border:2px dashed #0e8841;
}
#message, #timer{
  text-align:center;
}






table{
  width:80%;
  margin: 0 auto;
}
table td, table th{
  border:1px solid #dee6ed;
  background:transparent;
  padding:.5em;
  text-align:left;
}
table th{
  cursor:default;
}
table tbody > tr:nth-child(odd) {background:#f4f7f9;}
table tbody tr{
  -webkit-transition:background-color 0.3s linear;
  -moz-transition:background-color 0.3s linear;
  transition:background-color 0.3s linear;
}
table tbody > tr:hover{background:rgba(0,0,0,.075);}







/* https://getcssscan.com/css-buttons-examples */
.button {
  align-items: center;
  text-decoration:none;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button:hover {
  text-decoration:none;
  background: #F6F9FE;
  color: #174ea6;
}

.button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}




.button_container a.button{
  display:flex;
  width:100%;
  margin-bottom:10px;
}
.button_container a.button:last-child{
  margin-bottom:0;
}
